#sidebar {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#sidebar > div {
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 0;
}

#sidebar > div:hover {
  color: rgb(155, 194, 194);
  background-color: rgb(131, 131, 131);
}

.sidebar-clicked {
  color: rgb(83, 204, 204);
}